<mat-sidenav-container fullscreen class="side-nav-container">
  <mat-sidenav #sidenav [(opened)]="opened" mode="over">
    <side-nav-menu title="Tools" [sidenav]="sidenav">
      <side-nav-item route="/" title="Home" icon="home"></side-nav-item>
      <side-nav-item route="/initiative" title="Initiative Tool" icon="watch"></side-nav-item>
    </side-nav-menu>
  </mat-sidenav>
  <!-- Top Navigation -->
  <app-header [title]="title" (toggleSidenavEvent)="toggle($event)"></app-header>
  <router-outlet></router-outlet>
</mat-sidenav-container>